.profile {
  background-color: rgb(218, 216, 216);
  margin: 10px;
  width: 400px;
  height: 430px;
  padding: 25px;
}
.description {
  margin: 0;
  width: 400px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}
.avatar {
  width: 200px;
  height: auto;
  border-radius: 50%;
}
.name {
  margin: 0;
  padding-top: 20px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(31, 3, 58);
}
.tag {
  margin: 0;
  padding-top: 15px;
  font-size: 18px;
  color: rgb(148, 125, 170);
}
.location {
  margin: 0;
  padding-top: 15px;
  font-size: 20px;
  color: rgb(148, 125, 170);
}
.status {
  width: 400px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(233, 231, 238);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(187, 177, 211);
  padding: 15px 0px 15px 0px;
  list-style: none;
}
.statusItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label {
  font-size: 14px;
  color: rgb(148, 125, 170);
  font-weight: bold;
}
.quantity {
  font-size: 20px;
  color: rgb(72, 50, 92);
  font-weight: bold;
}
