.transactionHistory {
  margin: 30px 0 20px 10px;
  width: 600px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid rgb(173, 128, 187);
  box-shadow: 1px 2px rgb(164, 128, 175);
  text-align: left;
}
.thead {
  padding: 10px;
  background-color: rgb(62, 33, 71);
  width: 40px;
  font-size: 20px;
  color: rgb(209, 190, 211);
}
.tr:nth-child(even) {
  background-color: #f2f2f2;
}
.td {
  padding: 10px;
  font-size: 20px;
  color: rgb(62, 33, 71);
  text-align: left;
}
