.item {
  width: 300px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-width: 1px;
  border-style: outset;
  border-color: #321250;
  box-shadow: 1px 3px #c38df5;
}
.status {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.avatar {
  width: 100px;
}
.name {
  font-size: 25px;
  color: #321250;
  font-weight: bold;
}
.isOnline {
  composes: status;
  background-color: green;
}
.isOffline {
  composes: status;
  background-color: rgb(209, 10, 10);
}
